* {
  font-family: 'Poppins', sans-serif;
}
.hero {
  display: grid;
  place-items: center;
  background: linear-gradient(125deg, #00FF57 0%, #010033 40%, #460043 70%, #F0FFC5 100%), linear-gradient(55deg, #0014C9 0%, #410060 100%), linear-gradient(300deg, #FFC700 0%, #001AFF 100%), radial-gradient(135% 215% at 115% 40%, #393939 0%, #393939 40%, #849561 calc(40% + 1px), #849561 60%, #EED690 calc(60% + 1px), #EED690 80%, #ECEFD8 calc(80% + 1px), #ECEFD8 100%), linear-gradient(125deg, #282D4F 0%, #282D4F 40%, #23103A calc(40% + 1px), #23103A 70%, #A0204C calc(70% + 1px), #A0204C 88%, #FF6C00 calc(88% + 1px), #FF6C00 100%);
background-blend-mode: overlay, screen, overlay, overlay, normal;
  color: white;
}

.about {
  color: #0d004d;
  background: linear-gradient(
    125deg,
    #ecfcff 0%,
    #ecfcff 40%,
    #b2fcff calc(40% + 1px),
    #b2fcff 60%,
    #5edfff calc(60% + 1px),
    #5edfff 72%,
    #3e64ff calc(72% + 1px),
    #3e64ff 100%
  );
}
.project-card {
  background: chocolate;
}
.project-image {
  border-radius: 1.2rem;
  padding: 0.7rem;
}

footer {
  /* background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form:focus {
  box-shadow: none;
  border: 2px solid rgb(17, 0, 255) !important;
}
.form {
  box-shadow: none;
}
.btn:focus {
  box-shadow: none !important;
}
.btn:hover {
  transform: scale(0.95) translateY(-2px);
  transition: transform 0.1s;
}
.stack-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.stack {
  height: 100px;
  width: 100px;
}
